.top-bar{
    background: #007095;
}
.contain-to-grid{
    background: #007095;
}


.top-bar-section li:not(.has-form) a:not(.button) {
    background: none repeat scroll 0 0 #007095;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
}